.marginContainer {
    padding: 0 30px 30px 30px;
}
.bg {
    background: url("assets/bg.jpg") no-repeat center/cover ;
    height: 600px;
    padding: 30px 30px;

}

.propertyItemContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
.filterContainer {
    display: flex;
    padding: 20px;
    background-color: #242424;
    border-radius: 10px;
    border: 1px solid white;
    justify-content: space-between;
}
.filterBtn {
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    box-shadow: none;
    font-size: 15px;
}
.filterBtnActive {
    background-color: #cbcdce63;
    border: 1px solid #636566;
    box-shadow: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    padding: 5px 8px;
    font-weight: bold;
}
.propertyItemWrapper {
    position: relative;
        flex: 0 0 calc(33.333% - 20px);
        min-width: 300px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        box-sizing: border-box;
        border: 1px solid white;

    @media (max-width: 1024px) {
        .card {
            flex: 0 0 calc(50% - 20px);
        }
    }

    @media (max-width: 768px) {
        .card {
            flex: 0 0 100%;
        }
    }
}
.contentContainer {
    padding: 0 30px 30px 30px;
}
.propertyImg {
    width: 100%;
    border-radius: 12px 12px 0 0;
}
.margin {
    padding: 0 15px 15px 15px;
}
.cardFooter{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #cbcdce63;
    margin-top: 17px;
    padding-top: 15px;
}
.cardDetails {
    display: flex;
}
.ratingImg {
    background: url(assets/star_rating.png) center/cover no-repeat;
    width: 17px;
    height: 17px;
    margin-right: 5px;
}
.bedroomImg {
    background: url(assets/building.png) center/cover no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    align-self: center;

}
.guestsImg {
    background: url(assets/user.png) center/cover no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    align-self: center
}
.bedroomText {
    margin-right: 15px;
}
.ratingWrapper {
    display: flex;
    align-items: center;
}
.superhost {
    position: absolute;
    top: 10px;
    background-color: #242424;
    padding: 5px 15px;
    border-radius: 10px;
    display: flex;
}
.superhostImg {
    background: url(assets/star_superhost.png) center/cover no-repeat;
    width: 15px;
    height: 15px;
    align-self: center;
    margin-left: 5px;
}
.price {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.propertyTypeWrapper {
    cursor: pointer;
    display: flex;

}
.propertyTypeBtnWrapper {
    display: none;
}
.propertyTypeBtnWrapperActive {
    display: flex;
    position: absolute;
    flex-direction: column;
}
.propertyTypeBtn {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.toggle {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
    cursor: pointer;
}

.toggleInput {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggleSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.toggleSlider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.toggleInput:checked + .toggleSlider {
    background-color: #2196F3;
}

.toggleInput:checked + .toggleSlider:before {
    transform: translateX(30px);
}

.toggleInput:focus + .toggleSlider {
    box-shadow: 0 0 1px #2196F3;
}
.superhostWrapper {
    margin-right: 35px;
}

.profileMenuWrapper {
    display: flex;
    justify-content: right;
}
