.marginContainer {
    padding: 0 30px 30px 30px;
}
.bg {
    background: url("assets/bg.jpg") no-repeat center/cover ;
    height: 600px;
    padding: 30px 30px;

}

.profileMenuWrapper {
    display: flex;
    justify-content: right;
}
.propertyItemContainer {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: center;
     padding: 20px;
 }

