body, h1 {
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  /*color: rgba(255, 255, 255, 0.87);*/
  /*background-color: #242424;*/
  background-color: #f8f9fa;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
button {
  cursor: pointer;
}

.authPopUp {
  display: flex;
}
.authPopUpHidden {
  display: none;
}
